body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items:  flex-start;
    width: 100vw;
    height: auto;
    margin: 0px;
}
#container{
    background-color: black;
    display: flex;
    width: 60vw;
    height: 100vh;
    flex-wrap: wrap;
    overflow:hidden scroll;
    height: fit-content;
    margin: 50px 0px;
    /* border: 2px solid white; */
}
.cube{
    background-color: rgb(255, 255, 255);
    width: 10px;
    height: 10px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-family:monospace;
}
::-webkit-scrollbar{
    appearance: none;
}